@model DeliUsaid.Models.Platos

@{
    ViewBag.Title = "Details";
}

<br />
<div>
    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>Detalles Platillo</h4>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Locales.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Locales.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombrePlato)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombrePlato)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </div>

        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>Detalles Platillo</h4>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Foto1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Foto1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Foto2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Foto2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Foto3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Foto3)
                </dd>

            </dl>
        </div>
        </div>
        <div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.IdPlato }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
            </p>
        </div>