@model DeliUsaid.Models.Platos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Platos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Locales.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locales.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePlato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePlato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPlato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
