@model DeliUsaid.Models.Personas

@{
    ViewBag.Title = "Delete";
}


<br />
<div>
    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>ELiminar Representante</h4>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Generos.Genero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Generos.Genero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DUI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DUI)
                </dd>
            </dl>
        </div>
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>Eliminar Representante</h4>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.NIT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NIT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

            </dl>
        </div>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" style="width:30%" /> |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
    </div>
}

