@model IEnumerable<DeliUsaid.Models.Personas>

@{
    ViewBag.Title = "Index";
}

<center>
    <h2 style="color:#F62104;">Representante de restaurante</h2>
</center>
<br />
<br />

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
</p>
<table class="table table-hover" style="background-color:#F8DDE2; color: #F62104;">
    <tr class="bg-danger" style="color: #fff;" >
        @*<th>
            @Html.DisplayNameFor(model => model.Generos.Genero)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Generos.Genero)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIT)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPersona }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPersona }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPersona }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
