@model IEnumerable<DeliUsaid.Models.Locales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p style="width:50%;">
    @Html.ActionLink("Agregar", "Create", null, new {@class = "btn btn-primary" })
</p>
<table class="table table-hover" style="background-color: #F8DDE2; color: #F62104;">
    <tr class="bg-dark" style="color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLocal }, new {@class = "btn btn-warning"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdLocal }, new {@class = "btn btn-success"}) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLocal }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
