@model IEnumerable<DeliUsaid.Models.Locales>

@{
    ViewBag.Title = "Index";
    var lista = Model.ToArray();
}
    <center>
        <h2 style="color:#F62104;">Restaurantes</h2>
    </center><br /><br />

<p>
    @Html.ActionLink("Agregar", "Create", null, new {@class = "btn btn-primary btn-lg btn-block" })
</p>
@*<table class="table table-hover" style="background-color: #F8DDE2; color: #F62104;">
    <tr class="bg-dark" style="color:#fff;">
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            <img src="@item.Logo" width="100px" height="100px" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLocal }, new {@class = "btn btn-warning"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdLocal }, new {@class = "btn btn-success"}) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLocal }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>*@
<div class="row">
    @for (int i = 0; i < lista.Length; i += 1)
    {
        <div class="col-sm-6">
            <div class="jumbotron" style="background-color: #F8DDE2;">
                    <p style="font-size: 26px; color: #F62104;">@lista[i].Nombre <img src="@lista[i].Logo" style="width:100px; height:100px;" /></p>            
                <br />             
                @Html.ActionLink("Editar", "Edit", new { id = lista[i].IdLocal }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Local", new { id = lista[i].IdLocal }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = lista[i].IdLocal }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>
