@model DeliUsaid.Models.Usuarios

@{
    ViewBag.Title = "Delete";
}

<br />
<div>
    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>Eliminar Usuarios</h4>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Personas.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personas.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roles.Rol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Roles.Rol)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Clave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Clave)
                </dd>

            </dl>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" style="width: 30%;" /> |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
</div>
}
      
