@model DeliUsaid.Models.Usuarios

@{
    ViewBag.Title = "Details";
}

<br />
<div>
    <div class="row">
        <div class="col-sm-3">
            <dl class="dl-horizontal jumbotron" style="background-color:#F8DDE2; color:#F62104;">
                <h4>Detalles Usuarios</h4>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Personas.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personas.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roles.Rol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Roles.Rol)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Clave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Clave)
                </dd>

            </dl>
        </div>
        </div>
    </div>

        <div>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }, new {@class="btn btn-warning" }) |
            @Html.ActionLink("Regresar", "Index", null, new {@class = "btn btn-info" })
        </div>
